
<!doctype html>
<html>
<head>
    <title>Repair Planner</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Sources/css/style.css?v=@DateTime.Now.Millisecond" />
    <script src="~/Sources/scripts/script.js?v=@DateTime.Now.Millisecond" type="text/javascript"></script>
    <script src="~/Sources/scripts/jquery-3.5.0.min.js" type="text/javascript"></script>
    <script src="~/Sources/scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
</head>
@if (ViewData["userOrganization"] != null)
{
    <div class="gradient-container org-signUp-Back">
        <div id="org-signUp-window" class="window org-signUp-window">
            <h1>Добро пожаловать!</h1>
            <p class="text" style="margin: 2vh 0;">Похоже, вы не ввели код приглашения при регистрации или ввели неверный. Это означает, что вы не привязаны ни к одной организации в системе.</p>
            <p class="text" style="margin-bottom: 2vh;">Хотите зарегистрировать новую организацию или ввести код приглашения?</p>
            <div class="flex-box-horizontal" style="width: 50vw">
                <button class="button-purple" style="width: 15vw" onclick="ShowRegistrationForm()">ЗАРЕГИСТРИРОВАТЬ</button>
                <button class="button-purple" style="width: 15vw" onclick="ShowInputCodeForm()">ВВЕСТИ КОД</button>
                <a href="/Account/SignOut"><button class="button-purple" style="width: 15vw">ВЫЙТИ</button></a>
            </div>
        </div>
    </div>
}
else
{
    <body>
        <div id="main">
            <div class="gradient-container">
                <div class="logo white">
                    <svg style="width: 4vh; height: 4vh" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path d="M11.0714 0H2.5C1.11929 0 0 1.11929 0 2.5V11.0714C0 12.4521 1.11929 13.5714 2.5 13.5714H11.0714C12.4521 13.5714 13.5714 12.4521 13.5714 11.0714V2.5C13.5714 1.11929 12.4521 0 11.0714 0Z" fill="#FFFFFF" />
                            <path d="M27.5 0H18.9286C17.5479 0 16.4286 1.11929 16.4286 2.5V11.0714C16.4286 12.4521 17.5479 13.5714 18.9286 13.5714H27.5C28.8807 13.5714 30 12.4521 30 11.0714V2.5C30 1.11929 28.8807 0 27.5 0Z" fill="#FFFFFF" />
                            <path d="M27.5 16.4286H18.9286C17.5479 16.4286 16.4286 17.5479 16.4286 18.9286V27.5C16.4286 28.8807 17.5479 30 18.9286 30H27.5C28.8807 30 30 28.8807 30 27.5V18.9286C30 17.5479 28.8807 16.4286 27.5 16.4286Z" fill="#FFFFFF" />
                            <path d="M11.0714 16.4286H2.5C1.11929 16.4286 0 17.5479 0 18.9286V27.5C0 28.8807 1.11929 30 2.5 30H11.0714C12.4521 30 13.5714 28.8807 13.5714 27.5V18.9286C13.5714 17.5479 12.4521 16.4286 11.0714 16.4286Z" fill="#FFFFFF" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.0615 4.99432C27.3615 4.60297 27.2874 4.04252 26.8961 3.74251C26.5047 3.4425 25.9443 3.51655 25.6443 3.9079L22.3054 8.26339L20.4655 6.42352C20.1168 6.07483 19.5515 6.07483 19.2028 6.42352C18.8541 6.7722 18.8541 7.33754 19.2028 7.68622L21.7282 10.2116C21.9862 10.4696 22.3628 10.5367 22.6825 10.4129C22.8624 10.3627 23.028 10.2559 23.1504 10.0963L27.0615 4.99432Z" fill="#3B026D" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="30" height="30" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p class="logo-text white">Repair Planner</p>
                </div>
                <div class="left-container">
                    @await Component.InvokeAsync("UserData")
                    <div id="statistics-container">
                        @await Component.InvokeAsync("Statistics")
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="flex-box-vertical">
                    <input id="search-field" type="search" placeholder="Поиск" onkeyup="if (event.key == 'Enter') Search()">
                    <div class="flex-box-horizontal" style="justify-content: space-between; margin-top: 2vh; width: 65vw">
                        <div class="flex-box-horizontal sections" style="width: 45vw">
                            <h1 id="all-section" class="active-section section-name" onclick="EnableSection('all')">Все</h1>
                            <h1 id="active-section" class="section-name" onclick="EnableSection('active')">Активные</h1>
                            <h1 id="completed-section" class="section-name" onclick="EnableSection('completed')">Заверешенные</h1>
                        </div>
                        <form action="/Home/GetAddTask" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ajax-add-container">
                            <a href="#add-task-container">
                                <button class="button-purple" type="submit" onclick="ShowAddWindow()">
                                    <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-plus">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6923 0C13.8606 0 14.8077 1.11929 14.8077 2.5V22.5C14.8077 23.8807 13.8606 25 12.6923 25C11.524 25 10.5769 23.8807 10.5769 22.5V2.5C10.5769 1.11929 11.524 0 12.6923 0Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.6923C0 11.524 1.11929 10.5769 2.5 10.5769H22.5C23.8807 10.5769 25 11.524 25 12.6923C25 13.8606 23.8807 14.8077 22.5 14.8077H2.5C1.11929 14.8077 0 13.8606 0 12.6923Z" fill="white" />
                                    </svg>
                                    ДОБАВИТЬ ЗАДАЧУ
                                </button>
                            </a>
                        </form>
                    </div>
                    <div class="tasks-container" id="tasks"></div>
                </div>
            </div>
        </div>
        <div id="ajax-add-container"></div>
        <div id="ajax-view-task"></div>
        <div id="ajax-container"></div>
    </body>
}
</html>