<div id="add-results">
    <form action="/Home/BindByCode" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#add-results" style="width: 35vw">
        <h1 style="font-size: 3.5vh">Ввести код приглашения</h1>
        <div class="flex-box-vertical">
            <p class="text" style="margin-top: 2vh">Код можно получить от сотрудника организации, в которой вы работаете</p>
            <input required type="text" placeholder="Код" class="adding-input" name="code" style="margin-top: 2vh;" />
            <button class="button-purple" style="margin-top: 2vh;" type="submit">ОТПРАВИТЬ</button>
        </div>
    </form>
</div>