@model string
<div class="animate-div" onmouseover="setInterval(function() {location.reload();}, 2000);">
    <div class="success">
        <div class="check-circle">
            <div class="check-circle__mark"></div>
        </div>
    </div>
    <h1 style="animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;">Успешно!</h1>
    <p class="text" style="margin-top: 1.5vh; animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;">@Model</p>
</div>